@import url(https://fonts.googleapis.com/css?family=Roboto:400);
*:focus {
  outline: none;
}

#dashboardBody {
  margin: 0;
  padding: 0;
  background: #2d3b45;

  color: #222;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
  background: url("https://goo.gl/YbktSj");
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
}

.ItemHeading {
  margin-bottom: 16px;
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: inherit;
  font-display: inherit;
  font-family: Lato, Arial, Helvetica Neue, sans-serif;
  font-weight: 700;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  box-sizing: border-box;
}

.submitButton {
  font-family: "SourceCodePro";
  font-weight: 500 !important;
  color: #fff;
  background: #2ec866;
  border: 1px solid #13a853;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 150px;
  font-size: 14px;
  width: 150px;
}
